.app {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #dddbd1;
  background-image: linear-gradient(180deg, #dddbd1, #d2dbdc);
  font-family: 'helvetica';
}

.app__body {
  display: flex;
  height: 100vh;
  width: 100vw;
}
